# Ignore specific build and IDE files
bin/
*.mod
.classpath
.project

# Ignore everything by default
*

# Allow Dart files and folders
!dart/
!dart/**

# Allow Go files and folders
!go/
!go/**
!go/**/*.go

# Allow Java files and folders
!java/
!java/**
!java/**/*.java

!c#/
!c#/**
!c#/**/*.cs
*.dll
*.pdb
/c\#/Console/.vs
/c\#/Console/bin
/c\#/Console/obj
